{% comment %}
  Dynamically generate list of links to all category pages
  site.pages는 _가 붙지 않은 디렉토리의 모든 md, html 파일을 일컫는다
  include 사용시 하위 html이 부착되므로 따로 파라미터를 넘겨줄 필요가 없이 하위 html에서 사용 가능
{% endcomment %}

{% assign main_categories = site.pages | where: "is_main_category", true | sort:"sidebar_sort_order" %}

{% for node in main_categories %}
  {% if node.title != null %}
    <a class="category-link {% if page.url == node.url %} active{% endif %}"
        href="{{ node.url | relative_url }}">{{ node.title }}</a>
        {% if page.category == node.category %}
        {% assign category = node.category %}
          {% include sub-category-links.html %}
        {% endif %}
  {% endif %}
{% endfor %}