---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

{% assign sub_categories = site.pages | where: "main_category", page.category | sort:"sidebar_sort_order" %}
<div class="list-group">
  {% for sub_category in sub_categories %}
  <a href="{{ sub_category.url | relative_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="my-1">{{ sub_category.title }}</h5>
      <small class="mt-1"></small>
    </div>
  </a>
  {% endfor %}
</div>